<!-- Styles -->
<style>
  #chartdiv {
    width: 100%;
    height: 500px;
  }
  </style>
  
  
  
  <!-- HTML -->
  
  <!DOCTYPE html>
  <html lang="en">
  
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Olympic Games Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" href="static/css/d3Style.css">
    <script src="https://unpkg.com/d3-simple-slider"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
  
    <!--Code to bring db into my js bar race chart-->
    <script type="text/javascript">
    var bar_race_db = {{the_data.julia|tojson|safe}}//julia's information from flask
    var hosts_db = {{the_data.kristajoy|tojson|safe}}//k's info
    var medals_db = {{the_data.kj|tojson|safe}}
    var medal_bar_db = {{the_data.britt|tojson|safe}}//Britt's info
    var julia_gdp_db = {{the_data.juliaGDP|tojson|safe}}
    var corr_db = {{the_data.lora|tojson|safe}}

    </script>
  
</script>

  
</head>

<body>



  <div class="container-fluid">

      <!--------------Julia's Panel-->
    
      <div class="row">
        <div class="col-md-12 jumbotron text-center" style="background-image: linear-gradient(to bottom,
        rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.6) 100%), url(../static/Olympic_rings.jpeg)">
          <div id="bottom">
            <center>
            <h1>Olympic Games Dashboard</h1>
            <p>Data for Summer and Winter up to 2016</p></center>
          </div>
        </div>
      </div>
        
    
       <!--Julia Claira's graph-----------------> 
       
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
          <p></p><br><br><p></p><p><br></p><p><br></p>
          <div class="panel panel-danger">
            <div class="panel-heading">
              <center> <h3 class="panel-title">Games Filter</h3></center>
            </div>
            <div id="sample-metadata" class="panel-body">
              <input type="checkbox" id="Summer" name="Summer" value="Summer" checked>
              <label for="Summer"> Summer </label>
              <input type="checkbox" id="Winter" name="Winter" value="Winter">
              <label for="Winter"> Winter Games</label><br>
              <input type="radio" name = "Sex" value="Men" id="sex"> Men's
              <input type="radio" name = "Sex" value="Women" id="sex"> Women's
              <input type="radio" name = "Sex" value="Both" checked id="sex"> Both<br><br>
              <input type="checkbox" id="Gold" name="Gold" value="Gold" checked >
              <label for="Gold"> Gold Medals </label><br>
              <input type="checkbox" id="Silver" name="Silver" value="Silver" checked>
              <label for="Silver"> Silver Medals </label><br>
              <input type="checkbox" id="Bronze" name="Bronze" value="Bronze" checked>
              <label for="Bronze"> Bronze Medals </label><br><br>
              Sport:
              <select id="selDataset"></select><br>
              <hr>
              <center>
              Speed x
              1 <input type="radio" name = "speed" value="1" checked> 
              2 <input type="radio" name = "speed" value="2.2">
              4 <input type="radio" name = "speed" value="3.1">
              16 <input type="radio" name = "speed" value="10">
              <br><br>
  
              <button type="button" id='race'>Start Race</button></center>
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <div class="row"><center><center><p id="graph_sub" style="color:black;font-size:28px;"></p> </center></div>
          <div id="simpleShapes" width="100%" height="300px">
            <svg width="100%" height="433">

              <text x="220" y="270" fill="black" font-size="18px", font-weight="bold">Choose Sport(s) to Begin Top 10 Medal Race</text>
            </svg>
          </div>
          <div id=myChart></div>
          
        </div>
        
  
      </div>
  
      <div class=row>
      
        



      </div>
      <div class=row>
        
      </div>
        <div class="col-md-1"></div>
        <div class="col-md-10">


          <div id="graphLocation"></div>
        
        </div>
      </div>
        <div class="col-md-1"></div>

 
        <div class="row">
          <p><br></p>
          <hr>
          <p><br></p>
            <div class="col-md-2"></div>
            <div class="col-md-9">
 
              <center><p style="color:black;font-size:28px;">Host Cities</p> </center>
                <div id="map"></div>
            </div>
            <div class="col-md-1"></div>
          </div>      

     
<!-- KJ's Charts -->
    <div class="row">

      <hr>
      <div class="col-md-2"></div>
      <div class="col-md-1">
        <div class="dropdown">
          <h5>Country:</h5>
          <select id="selCountry" onchange="optionChanged(this.value)"></select>
        </div>
        <img src="../static/Images/legend.jpg" alt="legend">
      </div>
      <div class="col-md-4">
        <center><p id="graph_sub" style="color:black;font-size:28px;">Total Medals </p></center>
        <div id="pie1"></div>
      </div>
      <div class="col-md-4">
        <center><p id="graph_sub" style="color:black;font-size:28px;">Medals by Gender</p></center>
        <div id="pie2"></div>
      </div>
      <hr>
    </div>

    <!-- Britt's Graph -->
<div class="row"></div>
<hr>

    <div class="row">

      <div class="col-md-1">c</div>
      <div class="col-md-1">
        <h5>Year</h5>
        <select id="seldDataset" onchange="changeDate(this.value)"></select>
      </div>
      <div class="col-md-9">

          <div class="none">
            <div id="Bar"></div>
          </div>
      </div>
      <div class="col-md-2"></div>
      <hr>
     </div>




  </div>

  <!-- Resources -->
  <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>   
  <script src="https://cdn.plot.ly/plotly-2.6.3.min.js"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
  crossorigin=""></script>
  <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


  <!-- JS key -->
  <script src="static/config.js"></script>
  <script src="static/barRace.js"></script>
  <script src="static/bar.js"></script>
  <script src="static/pie.js"></script>
  <script src="static/hostsMap.js"></script>
  <script src="static/corr.js"></script>
  
  
</body>

</html>

