<!-- Styles -->
<style>
#chartdiv {
  width: 100%;
  height: 500px;
}
</style>



<!-- HTML -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bellybutton Biodiversity</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin="" />
  <!--<link rel="stylesheet" type="text/css" href="style.css">-->

  <!--Code to bring db into my js bar race chart-->
  <script type="text/javascript">
  var bar_race_db = {{race_db|tojson|safe}}
  </script>



  
</head>

<body>

  <div class="container-fluid">

      <!--------------State-->
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Olympics</h1>
        <p>Use the interactive charts below to explore the dataset</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-6">

          <input type="checkbox" id="Summer" name="Summer" value="Summer" checked=True>
          <label for="Summer"> Summer Games </label>
          <input type="checkbox" id="Winter" name="Winter" value="Winter" checked=True>
          <label for="Winter"> Winter Games </label><br>
          <input type="radio" name = "Sex" value="Men"> Men's
          <input type="radio" name = "Sex" value="Women"> Women's
          <input type="radio" name = "Sex" value="Both" checked=True> Both<br>
          <input type="checkbox" id="Gold" name="Gold" value="Gold" checked=True>
          <label for="Gold"> Gold Medals </label>
          <input type="checkbox" id="Silver" name="Silver" value="Silver" checked=True>
          <label for="Silver"> Silver Medals </label>
          <input type="checkbox" id="Bronze" name="Bronze" value="Bronze" checked=True>
          <label for="Silver"> Bronze Medals </label><br>
          Sport:
          <select>
            <option value="Sport">All</option>
          </select>
          </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-2">
        <p></p>
        <!--<div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">State Info</h3>
            <br>
            <select id="selDataset"></select>
          </div>
          <div id="sample-metadata" class="panel-body">
          </div>
        </div>-->
      </div>
      <div class="col-md-8">
        <div id="chartdiv"></div>
      </div>
    </div>
 

    <!------maps go here-->
    <div class="row">
      <div class="col-md-12">
        <div id="ice"></div>
      </div>
    </div>
  </div>
  <!-- Resources -->
  <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>   
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
  crossorigin=""></script>

 
  <script src="static/barRace.js"></script>
  
  
</body>

</html>

